<h1>Eat Dat Burger</h1>

<h2>Burgers in Queue</h2>
{{#each data}}
{{#unless this.devoured}}
<h3>{{this.id}}. {{this.burger_name}}</h3>
<form action="/{{this.id}}?_method=PUT" method="POST">
	<input type="hidden">
	<button type="submit">Devour!</button>
</form>
{{/unless}}
{{/each}}

<h2>Burgers Devoured</h2>
{{#each data}}
{{#if this.devoured}}
<h3>{{this.id}}. {{this.burger_name}}</h3>
{{/if}}
{{/each}}

<form action="/" method="POST">
	<input type="textarea" name="name"></input>
	<button>submit</button>
</form>